In [1]:
import sqlite3
import pandas as pd
from sqlite3 import Error

In [6]:
from sqlite3 import Error
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(r'C:\Users\34658\SPRINGBOARD\SQL Case\sqlite_db_pythonsqlite.db')
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT 
    facility_name, revenue AS total_revenue
FROM
    (SELECT 
        SUM(CASE
                WHEN b.memid != 0 THEN b.slots * f.membercost
                WHEN b.memid = 0 THEN b.slots * f.guestcost
            END) AS revenue,
            f.name AS facility_name
    FROM
        bookings b
    JOIN facilities f ON b.facid = f.facid
    GROUP BY f.name
    HAVING revenue < 1000) AS sub
ORDER BY revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = r"C:\Users\34658\SPRINGBOARD\SQL Case\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [3]:
#/* Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members! */
SELECT 
    facility_name, revenue AS total_revenue
FROM
    (SELECT 
        SUM(CASE
                WHEN b.memid != 0 THEN b.slots * f.membercost
                WHEN b.memid = 0 THEN b.slots * f.guestcost
            END) AS revenue,
            f.name AS facility_name
    FROM
        bookings b
    JOIN facilities f ON b.facid = f.facid
    GROUP BY f.name
    HAVING revenue < 1000) AS sub
ORDER BY revenue;

* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [2]:
SELECT DISTINCT m.firstname || ' ' || m.surname AS member,
   (SELECT r.firstname || ' ' || r.surname
    FROM cd.members AS r
    WHERE m.recommendedby = r.memid) AS recommended
FROM members AS m ORDER BY member;

SyntaxError: invalid syntax (<ipython-input-2-c7266b295b26>, line 1)

* Q12: Find the facilities with their usage by member, but not guests */

* Q13: Find the facilities usage by month, but not guests */